#event-name {
    text-align: center;
    font-family: "iCiel Koni";
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0em;
    line-height: 1.2;
    margin-top: -150px;
}

#event-detail-name {
    text-align: center;
    font-family: "iCiel Koni";
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0em;
    line-height: 1.2;
    margin-top: -150px;
}

#box-event {
    position: absolute;
    top: 220px;
    width: 100%;
}

.box-item {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-img-top {
    width: 100%;
}

.infomation-item-event {
    width: 80%;
    margin-left: 150px;
    margin-right: 40px;
    margin-top: 200px;
    background-color: #fde8b3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px #ffca7b;

}

.infomation-item {
    background-color: #fde8b3;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 10px #ffca7b;
}

#event-content {

    background-color: #fff6d4;
    border-radius: 10px;
    border: 3px dashed #ffb489;
    min-height: 400px;
    padding: 10px;
    height: 420px;
}

.card-title {
    font-weight: 600;
}

.card-price {
    color: #FA7D09;
    line-height: 60px;
    font-size: 32px;
    font-weight: 700;
}